<ion-view title="Playlist">
    <ion-content class="has-header padding">
        <h1>Image Capture</h1>
        <form ng-submit="simulatePost(caption)">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" name="caption" placeholder="Caption" ng-model="caption">
                </label>
                <button type="submit" class="button button-small button-positive" value="Submit">Submit</button>
            </div>
        </form>
    </ion-content>
</ion-view>
