<ion-view title="PicHub" class="nav-bar">
    <div id="main-content">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon " style="color: #8a6de9"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button ng-click="updateItems()" class="button button-icon icon ion-ios7-refresh" style="color: #8a6de9"></button>
            <button ng-click="debug()" class="button button-icon icon ion-bug" style="color: #8a6de9"></button>
        </ion-nav-buttons>
        <ion-content class="has-header">
            <ion-list class="main-list">
                <!--on-hold="showImage(item, $event)" on-release="closeImageDisplay()"-->
                <ion-item ng-repeat="item in items" class="item-avatar item-home">
                    <img testcache id="homeItemIcon" src="" tsrc="{{item.image_name}}" imageonload class="img-blur" />
                    <a href="#app/img-view/{{item.id}}">test</a>
                    <span style="float: right" class="vote-value">{{item.yes_votes - item.no_votes}}</span>
                    <h2>{{item.id}} - {{item.caption}}</h2>
                    <div class="row">
                        <div class="col">
                            {{item.upload_date}}&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="col views">
                            <i class="icon ion-ios7-eye"></i> {{item.view_count}}
                        </div>
                        <div class="col comments">
                            <i class="icon ion-ios7-chatbubble-outline"></i>
                            <span style="margin-top: 222px">{{item.comments}}</span>
                        </div>
                        <div class="col vote-buttons">
                            <a ng-click="vote(item.id, true)" class="button button-icon icon ion-ios7-arrow-up"></a>&nbsp; <a ng-click="vote(item.id, false)" class="button button-icon icon ion-ios7-arrow-down"></a>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
    <div id="pic-display" class="image-display transparent " ng-click="closeImage() " style="display: none ">
        <ion-pane class="transparent " style="background-color: black ">
            <img id="ourImg " testcache src="{{imgSrc}} " class="fullscreen-image " />
            <p class="countdown-timer ">
                {{countdownTime}}
            </p>
        </ion-pane>
    </div>
    <ion-footer-bar align-title="center " class="bar-royal " id="footer ">
        <h1 class="title ">Score: 162</h1>
        <a class="button button-icon icon ion-ios7-camera " ng-click="capturePhoto() " />
    </ion-footer-bar>
</ion-view>
<!--  href="#/app/img-capture " -->
